header.full-cover
    #description
        h1 Matheus Nogueira
        h3
            span.highlight Web
            | Developer
            
        #contact_links
            ul 
                li
                    a(href="http://github.com/mathnogueira", target="_blank")
                        i.fa.fa-github
                    a(href="http://linkedin.com/in/matheusnogueira", target="_blank")
                        i.fa.fa-linkedin
                    a(href="http://facebook.com/mathnogueir", target="_blank")
                        i.fa.fa-facebook

    #hire_me.text-center
        a.btn.button KnoW me better
        
//- section.full-cover.padding#myself
//-     h1.text-center About myself
//-     .row
//-         .col-md-2
//-             h2 Olar
//-         .col-md-10
//-             h3 Hello
